#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;

}

#footer p {
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    color: white;
}