.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#form {
  padding:15px;
}
#form form{
  padding:0px;
}
#form fieldset{
  width:550px;
  border-radius:10px;
  border:2px solid black;
}
#form form h1{
  text-align:center;
}
#form form input{
  margin-left:50px;
}
#form table tr{
  height:40px;
}
#form button{
  border-radius:10px;
}